---
layout: default
---

<div class="home">

  <h1 class="page-heading">文章列表</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <div class="row articles">
      	<div class="col-sm-2 post-time">
      		<span class="pull-right">
      			<h5>{{ post.date | date: "%-d" }}</h5>
      			<h6>
      				{{ post.date | date: "%Y" }}<br>{{ post.date | date: "%b" }}
      			</h6>
      		</span>
      	</div>
      	<div class="col-sm-10 article">
      		<div class="article-title">
      			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
      		</div>
      		<div class="article-summary">
      			{{post.summary}}
      		</div>
      		<div class="article-operation">发布时间: {{ post.date | date: "%b %-d, %Y" }} | 分类:
            {% for category in post.categories %}
                {{category}}
            {% endfor %}
        </div>
      	</div>
      </div>
      <hr />
    {% endfor %}
  </ul>
  <div class="pager-bar">
    subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  <nav>
  <ul class="pagination">
    <li {% if paginator.previous_page %} {% else %} class="disabled" {% endif %}>
      <a {% if paginator.previous_page %} href="/page{{ paginator.previous_page }}" {% else %} href="#" {% endif %} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">{{ paginator.page }} / {{paginator.total_pages}}</a></li>
    <li {% if paginator.next_page %}  {% else %} class="disabled" {% endif %}>
      <a {% if paginator.next_page %} href="/page{{ paginator.next_page }} {% else %} href="#" {% endif %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
</div>
