---
layout: default
---

<div class="home">

  <h1 class="page-heading">文章列表</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <div class="row articles">
      	<div class="col-sm-2 post-time">
      		<span class="pull-right">
      			<h5>{{ post.date | date: "%-d" }}</h5>
      			<h6>
      				{{ post.date | date: "%Y" }}<br>{{ post.date | date: "%b" }}
      			</h6>
      		</span>
      	</div>
      	<div class="col-sm-10 article">
      		<div class="article-title">
      			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
      		</div>
      		<div class="article-summary">
      			{{post.summary}}
      		</div>
      		<div class="article-operation">发布时间: {{ post.date | date: "%b %-d, %Y" }} | 分类:
            {% for category in post.categories %}
                {{category}}
            {% endfor %}
        </div>
      	</div>
      </div>
      <hr />
    {% endfor %}
  </ul>
  <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
